<body>
<h1>This is the index<h1>
<%= button_to "New Session", 'sessions/new', :method => :get %>
<h2>Previous Sessions:<h2>
<ul>
<% @sessions.each do |session| %>
	<li><%= link_to 'Session: '+session.session_id.to_s, 'sessions/'+session.session_id.to_s  %></li>
<% end %>
</ul>
<body>
